* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #fafafa;
}

p {
	font-family: 'Arvo', serif;
	font-size: 16px;
	padding: 10px;
}

.header {
	width: 100%;
	background-color: #4d7ba3;
	padding: 10px;
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 24px;
	color: #FFFFFF
}

nav {
	width: 100%;
	text-align: center
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 30px;
	width: 100%;
	background-color: #BEBEBE;
}

nav li,
nav li a {
	display: inline;
	text-decoration: none;
	font-size: 25px;
	color: #FFFFFF;
	padding-left: 25px;
}

nav li a:hover,
nav li a:active {
	color: blue;
}

p:nth-child(even) {
	background: yellow;
}

p:nth-child(odd) {
	background: lightgrey;
	font-size: 19px;
}

ul li:nth-child(3n) {
	background: #fafafa;
}

h2:nth-child(even) {
	font-size: 30px;
}

.flex-container {
	height: 100%;
	display: flex;
	align-items: stretch;
}

.box {
	border-radius: 25px;
	border: 2px solid grey;
	background: #fafafa;
}

.footer {
	background-color: #4d7ba3;
	padding: 10px;
	text-align: center;
	width: 100%;
}

.flip-card-container {
	position: relative;
	width: 500px;
	height: 667px;
	margin-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

.flip-card {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 1.0s ease;
}

.flip-card:hover {
	transform: rotateY(180deg);
}

.flip-card-front {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background: #ffc728;
	color: #333;
	text-align: center;
	font-family: 'Arvo', serif;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
}

.flip-card-front img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #f2f2f2;
	border-radius: 20px;
	transform: rotateY(180deg);
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

.container-work-experience {
	width: 100%;
	padding: 2px 16px;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

.container-skills-bar {
	width: 100%;
	padding: 2px 16px;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
}

.languages {
	width: 100%;
	background-color: #4CAF50;
}

.java {
	width: 90%;
	background-color: #4CAF50;
}

.c-sharp {
	width: 80%;
	background-color: #2196F3;
}

.html-css {
	width: 45%;
	background-color: #f44336;
}

.javascript {
	width: 10%;
	background-color: #808080;
}

.about-me {
	background-color: lightblue;
	color: black;
	border-style: groove;
	box-sizing: border-box;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 25px;
	margin-left: 25px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	border: 15px solid green;
	outline-style: double;
	font-family: 'Arvo', serif;
	font-size: 16px;
	opacity: 1.0;
}

.fa-camera {
	color: white;
}

.fa-facebook {
	color: white;
}

.fa-linkedin {
	color: white;
}

.fa-user {
	color: teal;
	margin: 16px;
}

.fa-suitcase {
	color: teal;
	margin: 16px;
}

.fa-home {
	color: teal;
	margin: 16px;
}

.fa-envelope {
	color: teal;
	margin: 16px;
}

.fa-home {
	color: teal;
	margin: 16px;
}

.fa-phone {
	color: teal;
	margin: 16px;
}

.fa-briefcase {
	margin: 16px;
	color: teal;
}

.fa-calendar-alt {
	margin-right: 16px;
	color: teal;
}

.fa-certificate {
	margin: 16px;
	color: teal;
}

.fa-asterisk {
	margin: 16px;
	color: teal;
}

.fa-code {
	color: teal;
	margin: 16px;
}

.fa-globe {
	color: teal;
	margin: 16px;
}

.fa-comment-dots {
	color: teal;
	margin: 16px;
}

.fa-laptop-code {
	color: teal;
	margin: 16px;
}

.fa-male {
	margin-left: 16px;
	color: teal;
}

.fa-music {
	margin-left: 16px;
	color: teal;
}

.music-video {
	transition: width 2s, height 2s, transform 2s;
}

.music-video iframe {
	width: 600px;
	height: 600px;
	border-radius: 20px;
}

.music-video:hover {
	transform: rotate(360deg);
}

.row-pic {
	display: -ms-flexbox;
	/* IE10 */
	display: flex;
	-ms-flex-wrap: wrap;
	/* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
	width: 600px;
}


/* Create four equal columns that sits next to each other */

.column-pic {
	-ms-flex: 25%;
	/* IE10 */
	flex: 25%;
	max-width: 50%;
	padding: 0 4px;
}

.column-pic img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 20px;
	opacity: 0.5;
	transition: all 0.3s ease;
}

.column-pic img:hover {
	opacity: 1;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	border-radius: 50%;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 600px) {
	.column-pic {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.column-pic {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
